In [52]:
import numpy as np
import pandas as pd
import json

In [53]:
file_path = '../knowledgebase/labeled_sampled_queries.jsonl'
data = []

In [54]:
with open(file_path, 'r', encoding = 'utf-8') as file:
    for line in file:
        data.append(json.loads(line))

df = pd.DataFrame(data)

In [55]:
df.sample(5)

,id,query,label
11314,e151a658-71d0-4aef-9a28-68ad281b4e44,I'm a student at FAU and I'm curious about the...,hybrid
6105,db046ee6-99e4-41de-9349-771d86958f4f,Can you tell me more about the structure and o...,hybrid
1396,263fc2c3-a892-4d99-905d-6817ddae8e42,I'm studying at Friedrich-Alexander-University...,hybrid
3361,62ea367d-6134-40d0-9d59-5ca6b857bd3d,I heard that Friedrich-Alexander-Universität h...,dense
2356,afbe4a12-cf20-4203-946c-a7b39f796df3,I heard that FAU has a strong research group i...,dense

In [56]:
df.label = df.label.str.strip().str.replace('\n','')
df.label = df.label.str.rstrip('.')
df.label = df.label.str.lower()
df.label = df.label.str.replace('**', '', regex = False)
df.label = df.label.str.replace('```', '', regex = False)

In [57]:
df.label.value_counts()

label
dense     7524
hybrid    3994
sparse       8
Name: count, dtype: int64

In [58]:
label_map = {
    "dense": 0,
    "sparse": 1,
    "hybrid": 2
}

In [59]:
df['label_encoded'] = df['label'].map(label_map)

In [60]:
df.sample(5)

,id,query,label,label_encoded
7454,7f45b5ec-c1d0-4732-b169-5d41eac0fc7c,I'm studying at FAU and I'm trying to find som...,hybrid,2
2935,ffc97391-eba3-44d1-a440-5cfbf4c8abd7,What kind of academic programs does FAU offer ...,hybrid,2
4492,d30aeff2-5464-41c9-931f-26ee38c6e8e9,I've been hearing a lot about the use of chatb...,dense,0
6881,c022beee-c545-4397-b1c4-0f02fb2dbbff,I'm curious about the role of reading and writ...,dense,0
428,5ee29fff-69f6-4f66-9f9c-8c5932f95e06,I'm interested in understanding more about the...,dense,0

In [61]:
output_path = '../knowledgebase/labeled_encoded_queries.jsonl'
df.to_json(output_path, orient = 'records', lines = True, force_ascii = False)